.progress-bar{
    font-size: 13px;
}
.login-big {
    display: table-cell;
    height: 100vh;
    vertical-align: middle;
    width: 100%;
}

.login-big > figure {
    margin-bottom: 50px;
}

.login-big > h1 {
    color: #333145;
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
    width: 100%;
}
.login-big > p {
    display: inline-block;
    font-size: 15px;
    width: 87%;
    color: #636175;
}

.responsive-header .mh-head .mh-text img{
    width: 50px;
}
.pd-l-10{
    padding-left: 10px;
}
.pd-b-15{
    padding-bottom: 15px;
}
/* .followers {
    max-height:100%;
} */
.wh-50{
    width: 50px;
    height: 50px;
}
.wh-40{
    width: 40px;
    height: 40px;
}
.wh-26{
    width: 26px;
    height: 26px;
}
.w45{
    width: 45px;
    height: 45px;
}
.w35{
    width: 35px;
    height: 35px;
}
.colorblue {
    color: blue;
}

.add-butn{
    color: #fff !important;
    float: right !important;
    font-size: 13px !important;
    line-height: initial;
    padding: 5px 10px;
    position: absolute !important;;
    right: 0;
    text-transform: capitalize;
    top: 10px;
    border-radius: 4px;
}
.cursor-point i, .cursor-point input, .cursor-point li {
    cursor: pointer;
}
.followyou{
    font-size: 9px !important;
    position: absolute;
    bottom: -11px;
}
.new-postbox .post-btn{
    background: #5A0D28 none repeat scroll 0 0;
}
.webbgcolor {
    background-color: #5a0d28;
}

.new-postbox .attachments .cursor-point{
    text-align: right;
    /* margin-right: 25px; */
}
.user-post .progress {
    margin: 7px;
    font-size: 18px;
    height: 2rem;
}
.nomar {
    margin: 0;
}
.user-post .post-meta .col-md-4{
    padding-bottom: 10px;
}

span.statusnew {
    background: #bebebe none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 13px;
    display: inline-block;
    height: 10px;
    padding: 2px;
    position: relative;
    right: -30px;
    width: 10px;
}
span.statusnew.f-away {
    background: #ba0011;
}
span.statusnew.f-online {
    background: #7fba00;
}
.attachments .fileContainer [type="file"] {
    right: 2px;
    top: -6px;
    width: 20px;
    height: 20px;
}
.postbox .new-postbox .img-thumbnail {
    height: 100px;
    width: 100px;
    margin-top: 15px;
}
#gifresults .newgif {
    width: 100%;
    height: 150px;
}
#gifresults .gifBorder {
    border: 3px solid #5a0d28;
}
#gifresults .gifBorder {
    border: 3px solid #5a0d28;
}
.p10{
    padding: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt10 {
    margin-top: 10px;
}
#pollModal .add_field_button {
    float: left;
}


.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.atwho-view .atwho-header {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-bottom: solid 1px #eaeff1;
    color: #6f8092;
    font-size: 11px;
    font-weight: bold;
}

.atwho-view .atwho-header .small {
    color: #6f8092;
    float: right;
    padding-top: 2px;
    margin-right: -5px;
    font-size: 12px;
    font-weight: normal;
}

.atwho-view .atwho-header:hover {
    cursor: default;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
    max-height: 200px;
    overflow-y: auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
.wh120{
    width: 120px;
    height: 120px;
}
.user-post .post-meta .videosize{
    width: 100%;
}
.user-post .post-meta .postpicture{
    padding: 3px;
    width: 100%;
}
#page-contents .user-profile .coverImg{
    max-height: 370px;
}
.profile-author-thumb > img{
    height: 155px;
}
@media screen and (max-width: 420px){
    .profile-author-thumb > img {
        height: 80px;
    }
}

.profile-controls > li > a.live{
    background: #5A0D28 none repeat scroll 0 0;
}
.profile-controls > li > a.live:hover{
    background: #888da8 none repeat scroll 0 0;
}
.tab-content.messenger{
    width: 100%;
}
.hash-tags{
    padding: 20px;
    min-height: 260px;
}
.hash-tags > a:hover {
    color: #ffff;
    background: #5a0d28;
}

.hash-tags > a {
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    display: inline-block;
    font-size: 11px;
    padding: 5px 13px;
    margin-bottom: 12px;
    transition: all 0.2s linear 0s;
    margin-left: 8PX;
}
.viewComment .commentImg {
    width: 120px;
    height: 120px;
}
.we-comment:last-child {
    border-bottom: none;
}
.we-comet > li ul{
    border-left: none;
    margin-left: 0;
}
@media screen and (max-width: 320px){
    .we-comment {
        width: 100%;
    }
}
.coment-head{
    border-bottom: 1px solid #ede9e9;
    padding: 2px;
}
.nopad{
    padding: 0;
}
.viewComment .cursor-point{
    margin-top: 7px;
    margin-bottom: 5px;
}
.mb15{
    margin-bottom: 15px;
}
.emoji-picker-container .emoji-wysiwyg-editor{
    height: 60px !important;
}
.likePostComment.active, .dislikePostComment.active{
    color: #5a0d28;
}

.top-area .usrname{
    min-width: 100px;
}

.memberlist span{
    font-size: 14px;
    color: #9a9fbf;
}
.minh60{
    min-height: 60px;
}
.viewComment .coment-head p a{
    color: #5a0d28;
}
.formsharePost li .btn{
    background-color: #5a0d28;
    border-color: #5a0d28;
}
#userEditProfile .change-photo > figure img{
    width: 150px;
    height: 150px;
}
.pt10{
    padding-top: 10px;
}
.pt5{
    padding-top: 5px;
}
#userEditProfile .edit-img{
    cursor: pointer;
}
#userEditProfile .edit-img:hover,#userEditProfile .edit-img:hover label {
    background-color: #5a0d28;
    color: #fff;
}
#userEditProfile .change-photo #editCoverPic{
    border-radius: 10%;
    width: 200px;
    height: 100px;
}
#userEditProfile .emoji-wysiwyg-editor{
    background: #edf2f6 none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 13px;
    color: #535165;
    border: 1px solid #e4e4e4;
}

#userEditProfile .onoff-options .setting-row > p {
    color: #515365;
    font-size: 13px;
    font-weight: 500;
}
.top-area .user-setting .ctmSetting{
    margin: 0;
    border-bottom: 0;
    padding: 10px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .profile-bg {
        min-height: 150px;
        background-color: #a5a2a2;
    }
    .isVeteranSticky{
        z-index: unset !important;
        position: unset !important;
    }
    #page-contents {
        position: unset !important;
    }
}
@media only screen and (min-width: 768px) {
    .profile-bg {
        min-height: 370px;
        background-color: #a5a2a2;
    }
    
}
.visible{
    opacity: 1;
    visibility: visible;
}

#modalSharePost .shareEmoji [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#modalSharePost .shareEmoji [type=radio] + img {
    cursor: pointer;
    height: 35px;
    margin: 5px;
}
#modalSharePost .shareEmoji [type=radio]:checked + img {
    outline: 2px solid #5a0d28;
}

.resharePostViewSection{
    width: 100%;
    border: 1px solid #ede9e9;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.resharePostViewSection .friend-name{
    width: 88%;
}
.resharePostdesc{
    margin-top: 0px !important;
}
.user-post .postCountSection{
    padding: 0;
}
.user-post .postCountSection ul{
    margin-top: 0;
    width: 100%;
}
.user-post .postCountSection li{
    font-size: 11px;
}
.post-meta .description:first-child{
    margin-top: 0px;
}

/* .profile-controls > li , .muteform > button {
    background: #888da8 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    font-size: 16px;
} */
.mutebtn{
    padding: 11px 14px;
}
.unmute{
    background-color: #888da8;
}
#page-contents .user-post .post-meta .description{
    word-break: break-word;
    display: contents;
}


.central-meta .newpst-input{
    width: 100%;
}

.sidebar .widget li > a {
    font-size: 14px;
}

.ctmLogo{
    border-radius: 50%;
    width: 50px;
    background-color: #fff;
}
.wh-70{
    height: 70px;
    width: 70px !important;
}
.privacy .page-header{
    background: #6b263ec2 none repeat scroll 0 0;
}
.isVeteranSticky{
    z-index: 999;
}
.sitecolor{
    color: #5A0D28 !important;
}
.top-search{
    margin-left: 25%;
}
.m-0{
    margin: 0;
}
.m5{
    margin: 5px;
}
.badgeIcon{
    width: 15px;
    padding-left: 3px;
}
.friend-name span.usrnm, .friend-name ins.usrnm{
    color: #5a0d28;
    text-transform: lowercase;
    font-weight: 500;
}
.central-meta .new-postbox #postcharbarboxInner{
    background-color:#5a0d28;
    width:0px;
    height:14px;
}
.central-meta .new-postbox #postcharbarbox{
    height:16px;
    background-color:#e0e0e0;
    width:100%;
    border:solid 1px #5a0d28;
    margin-right:3px;
    -webkit-border-radius:5px;-moz-border-radius:5px;
}

/* for pricing table start */
.columns {
    float: left;
    width: 50%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  /* for pricing table End */

  /* theme color box */
  .theme-box1{
    background:#f81212;
  }
  .theme-box2{
    background:#1238f8;
  }
  .theme-box3{
    background:#f012f8;
  }
  .theme-box4{
    background:#1af812;
  }
  .theme-box5{
    background:#f87d12;
  }
  .theme-box6{
    background:#f8f812;
  }
  .theme-box7{
    background:#12d9f8;
  }
  .theme-box8{
    background:#8512f8;
  }
  .theme-box9{
    background:#12b1f8;
  }
  .theme-box10{
    background:#12f86e;
  }
  .theme-box11{
    background:#0000e8;
  }
  .theme-box12{
    background:#08950c;
  }
  .theme-default{
    background:#5a0d28;
  }
.linkPreviewDiv {
    border: 1px solid #ede9e9;
    padding: 10px;
    border-radius: 15px;
    display: grid;
}
.ellips2 {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ellips3 {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.row{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.postLoader{
    opacity: 0;
}

.wh-85{
    width: 85px;
    height: 85px;
}
.ctmTopMenu{
    /* color: #999; */
    font-size: 18px;
    position: relative;
    display: inline-block;
    width: 45px;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.top-area > ul.setting-area{
    float: none;
    text-align: right;
}
.top-area > ul.setting-area .main-menu{
    margin-right: 5px;
}
.emoji-picker-container .emoji-wysiwyg-editor{
    color: #000000 !important;
    word-break: break-all;
}
.countnumber{
    background: #8c6ad2 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    position: absolute;
    /*right: -30px;*/
    text-align: center;
    top: 0;
    width: 18px;
}
.followList .frnd-meta > img{
    margin-top: 5px;
    position: unset;
}
.postDislike.happy, .postDislike, .postDislike:hover{
    color: purple;
}
.heart.broken:before, .heart.broken:after{
    color: purple;
}
.rightSideMenu .friend-meta{
    width: 75%;
}

/* for meter  */
#wrapper {position: relative;  margin: auto;}
#meter {
    width: 100%; height: 100%;
    transform: rotateX(180deg);
}
.circle {fill: none;}
.outline, #mask {
    stroke: #F1F1F1; 
    stroke-width: 20px;
}
.range { stroke-width: 12px; }
#slider, #lbl {
    position: absolute;
}
#slider {
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 58%;
    width: 94%;
}
#lbl {
    background-color: #4B4C51; 
    border-radius: 6px;
    color: white;
    font-family: 'courier new';
    font-size: 9pt;
    font-weight: bold;
    padding: 4px 4px 2px 4px;
    right: -48px;
    top: 53%;
}
#meter_needle {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    transform: rotate(270deg);
}
.singlePostView .post-meta .description p{
    color: #000;
    text-align: justify;
}


#pageGroupDetail .tab-pane .friend-name {
    width: 92%;
}
#pageGroupDetail .tab-pane .friend-info > figure {
    width: unset;
}
@media screen and (max-width: 320px){
    #pageGroupDetail .friend-name {
        width: 80% !important;
    }
}
#groupMemberEdit figure img{
    border-radius: 100%;
}
#groupMemberEdit .checkbox{
    margin: 0px;
}

#userEditProfile .emojiBtnView{
    position: absolute;
    right: 4px;
}
#userEditProfile .stg-form-area #divAboutYou .emoji-wysiwyg-editor{
    height: 160px !important;
}

/* for kheni css 09-04*/
.height-120{
    height: 120px;
}
.rect{
    border: 1px solid #5a0d28;
    width: 100%;
    height: 180px;
    border-radius: 14px;
}
#myDiv{
    box-shadow: inset 0 0 30px #f90a0a;
  }

.aditional-img{
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.smal-box2 {
    display: inline-block;
    padding: 0 25px 20px;
    width: 100%;
    text-align: center;
}

.pricingTable2{padding-bottom:30px;margin:8px 15px;background:#fff;text-align:center;border-radius:15px;overflow:hidden}
.pricingTable2:hover{box-shadow:0 0 10px rgba(195,67,67,.3) inset,0 0 20px -5px rgba(0,0,0,.8)}
.pricingTable2 .pricingTable-header{padding:15px 10px 30px;background:#E65E4C;-webkit-clip-path:polygon(50% 100%,100% 60%,100% 0,0 0,0 60%);clip-path:polygon(50% 100%,100% 60%,100% 0,0 0,0 60%);position:relative}
.pricingTable2 .pricingTable-header:before{content:"";width:400px;height:400px;border-radius:50%;position:absolute;right:-50%;top:-130%;background:repeating-radial-gradient(rgba(255,255,255,.05),rgba(255,255,255,.2) 20%);transition:all .5s ease 0s}
.pricingTable2:hover .pricingTable-header:before{right:50%}
.pricingTable2 .title{font-size:28px;color:#fff;margin:0}
.pricingTable2 .pricing-content{padding:30px 25px 0;margin:0;list-style:none}
.pricingTable2 .pricing-content li{font-size:18px;line-height:40px;letter-spacing:1px;text-transform:capitalize;border-bottom:2px solid rgba(0,0,0,.15);margin-bottom:10px;position:relative}
.pricingTable2 .pricing-content li:last-child{border-bottom:none}
.pricingTable2 .pricing-content li i{color:#E65E4C}
.pricingTable2 .pricingTable-signup{display:block;padding:18px 0;margin:0 25px;border-radius:10px;background:#E65E4C;font-size:20px;color:#fff;letter-spacing:1px;text-transform:uppercase;overflow:hidden;position:relative;transition:all .3s ease 0s}
.pricingTable2 .pricingTable-signup:hover{letter-spacing:2px;box-shadow:0 0 10px rgba(0,0,0,.7),0 0 0 7px rgba(255,255,255,.5) inset}
.pricingTable2 .pricingTable-signup:before{content:"";width:230px;height:230px;border-radius:50%;background:repeating-radial-gradient(rgba(255,255,255,.05),rgba(255,255,255,.2) 20%);position:absolute;top:-180%;right:-40%;transition:all .8s ease 0s}
.pricingTable2 .pricingTable-signup:hover:before{right:40%}
.pricingTable2.blue .pricingTable-header,.pricingTable2.blue .pricingTable-signup{background:#E65E4C}
.pricingTable2.blue .pricing-content li i{color:#E65E4C}
.pricingTable2.pink .pricingTable-header,.pricingTable2.pink .pricingTable-signup{background:#6b263e}
.pricingTable2.pink .pricing-content li i{color:#6B263E}
@media only screen and (max-width:990px){
	.pricingTable2{margin-bottom:30px}
}
@media only screen and (max-width:479px){
	.pricingTable2{margin:5px}
	.pricingTable2 .pricing-content li{font-size:15px}
}

.user-profile .profile-menu.nav-tabs .nav-link.active, .user-profile .profile-menu.nav-tabs .nav-link:hover{
    border: none;
}

/* date:- 13-04-2019 */
#plusDetails .pdf60{
    padding-left: 60px;
}
#plusDetails .pdr60{
    padding-right: 60px;
}

#plusDetails .imgFriend{
    width: 58%;
}

#plusDetails .event-thumb img {
    border-radius: 30px;
}

#plusDetails .event-time {
    padding: 5px 0;
    text-align: left;
}

@media screen and (max-width: 420px){
    .profile-controls {
        bottom: 8px;
    }
    .mutebtn {
        padding: 6px 9px;
    }
    #plusDetails .pdf60{
        padding-left: 15px;
    }
    #plusDetails .pdr60{
        padding-right: 15px;
    }

    #plusDetails .imgFriend{
        width: 100%;
    }
}
.btnplus{
    padding: .15rem .4rem;
}
.cardform .form-control{
    margin: 5px;
}
@media only screen and (max-width:479px){
    .jp-card{
        min-width: unset;
    }
    .jp-card-container{
        transform: unset !important;
        width: 100%;
    }
    .jp-card .jp-card-front .jp-card-lower .jp-card-number{
        font-size: 20px;
    }
}

.btn-follow{
    color: #fff !important;
    float: right !important;
    font-size: 13px !important;
    line-height: initial;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #5a0d28;
}

.title-block h5 > span.ctmCountspan{
    border: 1px solid red;
    color: red;
    background: #fff none repeat scroll 0 0;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    width: 30px;
    right: -35px;
}
.we-comment .coment-head p{
    color: #000;
}

@media screen and (max-width: 420px){
    .userPlusImg{
        bottom: 60px !important;
        left: 100px !important;
    }
}
.userPlusImg{
    position: absolute;
    bottom: 75px;
    left: 180px;
    background: #5a0d28;
    padding: 5px 2px;
    border-radius: 6px;
}
.userPlusImg img{
    height: 40px;
    border: none;
    max-width: 50px;
    min-width: 50px;
    border-radius: 10px;
    padding: 3px 1px;
}

.delete-user{
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    cursor: pointer;
    left: 0;
    padding: 6px;
    position: absolute;
    top: 0;
    width: 34px !important;
}
#people-list figure img, .new-postbox > figure img, .friend-info > figure img, .comet-avatar > img, .followers > li figure img, .invition figure img, .nearly-pepls > figure img, .peoples > li figure img, .conversation-head > figure img, .peoples-mesg-box > ul li > figure img, .your-page > figure img, .notification-box > ul li figure img{
    height: 45px;
    width: 45px;
}
.notifi-meta .usrImgList img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.central-meta .add-tofrndlist > a{
    background: #5a0d28 none repeat scroll 0 0;
}
.central-meta .owl-prev::before, .owl-next::before{
    color: #5a0d28;
}
.cemojiview .col-sm-2 img{
    padding: 5px;
}
.gifBorder{
    border: 3px solid #5a0d28;
}
.wh25{
    width: 25px;
    height: 25px;
}
.customEmjiName{
    position: absolute;
    visibility: hidden;
}