
.topbar {
    background: #343434 none repeat scroll 0 0;
    color: #fff;
}
.gray-bg {
    background: #505050 none repeat scroll 0 0;
}
.top-area > ul.main-menu > li a {
    color: #ddd;
}
.top-area > ul.main-menu > li ul {
    background: #333 none repeat scroll 0 0;
}
.top-area > ul.main-menu > li > ul li a {
    color: #eee;
}
.central-meta {
    background: #424242 none repeat scroll 0 0;
    border-color: transparent;
}
.sidebar .widget {
    background: #424242 none repeat scroll 0 0;
    border-color: #3e3e3e;
}
.sidebar .widget-title {
    color: #fff;
}
body {
    color: #eee;
    background: #505050 ;
}
textarea {
    background: #393939 none repeat scroll 0 0;
    border-color: transparent;
    color: #eee;
}
.attachments {
    background: #393939 none repeat scroll 0 0;
    border: medium none transparent;
}
.friend-name > span {
    color: #cccccc;
}
p {
    color: #ccc;
}
.we-comment::before, .peoples-mesg-box > ul > li p::before {
    border-right-color: #363636;
}
.we-comment::after, .peoples-mesg-box > ul > li p::after {
    border-right-color: #424242;
}
.we-comment {
    border-color: #363636;
}
.post-comt-box form textarea {
    background: #393939 none repeat scroll 0 0;
    color: #eee;
}
.coment-head > h5 {
    color: #fff;
}
.btn-view.btn-load-more::before {
    color: #fff;
}
.btn-view.btn-load-more {
    background: #232323 none repeat scroll 0 0 !important;
}
.dropdowns {
    background: #525252 none repeat scroll 0 0;
    border-color: #474747;
}
.drops-menu > li:nth-child(2n) > a {
    background: #444 none repeat scroll 0 0;
}
.mesg-meta > span {
    color: #b8b8b8;
}
.mesg-meta > i {
    color: #b8b8b8;
}
.drops-menu > li > a:hover {
    background: #3b3b3b none repeat scroll 0 0;
}
.dropdowns.active > a {
    background: #444 none repeat scroll 0 0;
    color: #fff;
}
.drops-menu > li > a {
    border-color: rgba(248, 248, 248, 0.1);
}
.dropdowns.active > a:hover {
    background: #444 none repeat scroll 0 0;
}
.nav.nav-tabs.likes-btn > li a{background: #363636;}
footer {
    background: #343434 none repeat scroll 0 0;
}
.foot-logo > p {
    color: #eee;
}
.location > li p {
    color: #eee;
}
.location > li i {
    color: #999;
}
footer .widget-title h4 {
    color: #fff;
}
.bottombar {
    background: #2f2f2f none repeat scroll 0 0;
}
.side-panel {
    background: #3c3c3c none repeat scroll 0 0;
    border: medium none transparent;
}
.panel-title {
    color: #fff;
}
.user-setting {
}
.user-setting > a {
    background: #444 none repeat scroll 0 0;
}
.user-setting {
    background-color: #505050;
    border-color: #404040;
    box-shadow: -4px 7px 16px #676767;
}
.user-setting > a:hover {
    background: #333 none repeat scroll 0 0;
}
footer:before{
	filter: brightness(0.5);
}
.setting-row input + label{background: #2d2d2d;}
.setting-row input + label::after{background: #616161;}
.setting-row{border-bottom-color: #535353; }
.top-area > ul.main-menu > li > ul li a:hover {
    background: #3b3b3b none repeat scroll 0 0;
}
.form-search input {
    background: #393939 none repeat scroll 0 0;
    border-bottom-color: #5f5f5f;
}
.timeline-info {
    background: #424242 none repeat scroll 0 0;
}
.feature-photo {
    background: #424242 none repeat scroll 0 0;
}
.timeline-info .admin-name > span {
    color: #eee;
}
.mt-2, .my-2 {
    border-color: #515151;
}
.d-flex .tab-content {
    background: #3e3e3e none repeat scroll 0 0;
}
.personal > p {
    color: #c3c3c3;
}
.socials > li a {
    box-shadow: unset;
}
.f-title {
    color: #fff;
}
.contct-info {
	background: #424242 none repeat scroll 0 0;
    box-shadow: 0 10px 10px #454545;
  }
.onoff-options .setting-row > span {
    color: #eee;
}
.onoff-options .setting-row > span {
    color: #eee;
}
#searchDir .filterinput {
    background: #393939 none repeat scroll 0 0;
    border-color: #4b4b4b;
    color: #eee;
}
.chosen-container .chosen-drop {
    background: #444 none repeat scroll 0 0;
    color: #ddd;
    border-color: #535353;
}
.chosen-container .chosen-results li {
    color: #ddd;
}
.chosen-container-single .chosen-single {
    border-color: #535353;
}
.form-group .mtrl-select {
    border-color: #535353;
}
.twiter-feed > li p, .short-profile li p{color: #bababa;}
.short-profile > li{border-color: #535353;}
.chosen-container-active.chosen-with-drop .chosen-single{
	background: #444;
	box-shadow: none;
	border-color: transparent;
}
.chosen-container-single .chosen-search input[type="text"]{
	border-color: #636363;
}
.editing-interest form ol > li a{background: #333;}
.card-body {
    background: #444 none repeat scroll 0 0;
    color: #ddd;
}
.accordion .card h5 button {
    background: #333 none repeat scroll 0 0;
    color: #eeeeee;
}
.sidebar .widget li > a{
    color: #eee;
}
.sidebar .invition > li {
    border-color: #5c5c5c;
}
.nearby-contct > li:hover {
    border-color: transparent;
    box-shadow: 0 8px 8px #31383c;
}
.nearby-contct > li {
    background: #444 none repeat scroll 0 0;
    border-color: #535353;
}
.inbox-sec {
    background: #424242 none repeat scroll 0 0;
    border-color: #535353;
}
.inbox-navigation {
    background: #424242 none repeat scroll 0 0;
}
.inbox-panel-head > a {
    color: #ddd;
}
.inbox-navigation > ul > li {
    background: #3c3c3c none repeat scroll 0 0;
}
.inbox-action {
    background: #424242 none repeat scroll 0 0;
}
.mesages-lists {
    background: #3f3f3f none repeat scroll 0 0;
}
.message-list > li {
    border-color: #535353;
}
.mesages-lists > form input {
    background: #363636 none repeat scroll 0 0;
    border-color: #535353;
}
.tutor-links > li {
    border-bottom-color: #696969;
}
.notifi-meta > p {
    color: #eee;
}
.notification-box > ul > li {
    border-bottom-color: #535353;
}
.page-header {
    background: #292929 none repeat scroll 0 0;
    border-color: #424242;
}
.liked-pages > li {
    background: #444 none repeat scroll 0 0;
    border-color: #535353;
}
.liked-pages > li:hover {
    box-shadow: 0 8px 8px #31383c;
}
.twiter-feed > li > span {
    color: #ddd;
}
.widget .twiter-feed > li > span i {
    color: #eee;
}
.peoples > li {
    border-color: #535353;
}
.peoples {
    border-color: #535353;
}
.conversation-head {
    border-color: #535353;
}
.peoples-mesg-box > ul > li p {
    color: #fff;
}
.peoples > li:hover {
    background: #333 none repeat scroll 0 0;
}
.message-text-container textarea{color: #eee;}

.editing-interest form input {
    background: #393939 none repeat scroll 0 0;
    border-color: #373737;
    color: #eee;
}
.checkbox label, .form-radio label {
    color: #eee;
}
/*=== new pages ===*/
.top-search form input {
    background: #3f3f3f none repeat scroll 0 0;
    color: #eee;
}
.fixed-sidebar {
    background: #383838 none repeat scroll 0 0;
}
.log-reg-area {
    background: #434343 none repeat scroll 0 0;
}
.logout-meta > span {
    color: #ececec;
}
.nav-tabs--left .nav-link{
    color: #fcfcfd;
}

.set-title > h5, .set-title > h6 {
    color: #ffffff;
}
.c-form > div label {
    color: #ffffff;
}
.group-box > a {
    color: #fffefe;
}

.user-setting > ul li a {
    background: #505050;
}
.seting-title {
    color: #ffffff;
}
.title-block h5 {
    color: #ffffff;
}


a, a:hover, a:focus, a:active {
    color: white;
}

.create-post{
    color: #ffffff;
}
#userEditProfile .onoff-options .setting-row > p {
    color: #ffffff;
}
/* .product-carousel .owl-nav .owl-prev::before, .product-carousel .owl-nav .owl-next::before, .product-caro .owl-prev:hover:before, .product-caro .owl-next:hover:before, .log-reg-area form .forgot-pwd, .log-reg-area form .already-have, .log-reg-area > p a, .timeline-info > ul li a.active, .timeline-info > ul li a:hover, .dropdowns > a.more-mesg, .activity-meta > h6 a, .activity-meta > span a:hover, .description > p a, .we-comment > p a, .sidebar .widget li:hover > a, .sidebar .widget li:hover > i, .friend-meta > a, .user-setting > a:hover, .we-comet li a.showmore, .twiter-feed > li p a, .tutor-links > li i, .tutor-links > li:hover, .pepl-info > span, .frnds .nav-tabs .nav-item a.active, #work > div a, .basics > li i, .education > li i, .groups > span i, a.forgot-pwd, .friend-meta > h4 a:hover, .x_title > h2, .post-meta .detail > span, .add-btn > a:hover, .top-area > ul.main-menu > li > ul li a:hover, .dropdowns.active > a i, .form-group input.form-file ~ .control-label, .form-group input.has-value ~ .control-label, .form-group input:focus ~ .control-label, .form-group input:valid ~ .control-label, .form-group select ~ .control-label, .form-group textarea.form-file ~ .control-label, .form-group textarea.has-value ~ .control-label, .form-group textarea:focus ~ .control-label, .form-group textarea:valid ~ .control-label, .flaged > h3, .invition .friend-meta a.invite:hover, .more-optns > ul li:hover, .post-title > h4 a:hover, .post-title .p-date a:hover, .l-post .l-post-meta > h4 a:hover, .read:hover, .tags > a:hover, .comment-titles > span, .help-list > ul li a:hover i, .carrer-title > span a, .open-position > h4 a:hover, .option-set.icon-style > li > a.selected, .category-box > i, .branches-box > ul li i, .help-topic-result > h2 a:hover, .product-name > h5 a:hover, .full-postmeta .shopnow, .prices.style2 ins span, .single-btn > li > a.active, .total-box > ul > li.final-total, .logout-meta > p a, .forum-list table tbody tr td i, .widget ul.recent-topics > li > i, .date-n-reply > a, .topic-data > span, .help-list > ul li a:hover, .employer-info h2, .job-detail > ul li i, .company-intro > a, .user-setting > ul li a:hover i, .your-page ul.page-publishes > li span:hover i, .drops-menu > li > a:hover .mesg-meta h6, .we-comment > h5:hover, .inline-itms > a:hover, .mesg-meta figure span, .like-dislike > li a:hover, .we-video-info > ul li .users-thumb-list > span strong, .we-video-info > ul li .users-thumb-list > span a, .add-del-friends > a:hover, .story-box:hover .story-thumb > i, .sugtd-frnd-meta > span > a, .sugtd-frnd-meta > a:hover, .create-post > a, .mesg-meta > h6 > a:hover, .profile-menu > li > a:hover, .profile-menu > li > a.active, .friend-name > ins > a, .more-post-optns > ul > li:hover, .more-post-optns > ul > li:hover i, .origin-name > a, .breadcrumb > .breadcrumb-item, .nav-tabs--left .nav-link.active, .nav-tabs--left .nav-link.active:hover, .set-title > span a, .onoff-options .setting-row > p > a, .checkbox > p a, .notifi-seting > p a, .page-likes .tab-content .tab-pane > a, .personal-head > p a, .f-title i, .more-opotnz > ul li a:hover, .frnd-name > a:hover, .option-list ul li a:hover, .option-list ul li i, .smal-box .fileContainer > i, .from-gallery > i, .over-photo > a:hover i, .featurepost > h5 > i, .widget .fav-community > li a, .radio input:checked ~ .check-box::before, .suggestd > li .sug-like:hover i, .gen-metabox > p > a, .widget .invitepage > li > a i, .see-all, .event-title > h4 a:hover, .event-date, .location-map > p, .event-title > span i, .typography > a, .main-btn2, a.main-btn2, blockquote p strong, .dob-meta > h6 a, .recent-jobs li > span a, .recent-jobs li h6 span, .position-meta > span, .invite-location > span, .invite-figure > h6 > a, .user-add > div > i, .logout-form > p > a, .logout-form > a, .login-frm > a, .c-form.search .radio > a, .frnd-meta > a, .notifi-meta > span > i, .card-body a, .search-meta > span i, .pit-frnz-meta > a:hover, .pit-groups-meta > a:hover, .pit-pages-meta > a:hover, .related-searches > li > a:hover, .wiki-box > h4 > a, .wiki-box > p > a, .p-info > a, .widget .reg-comp-meta > ul > li a, .re-links-meta > h6 > a:hover, .pitnik-video-help > i, h3.resutl-found > span, .related-links > li > a:hover, .attachments > ul .add-loc > i, .colla-apps > li a:hover, .add-location-post > span, footer .widget .colla-apps > li a:hover, .list-style > li a:hover, .page-meta > a:hover, .add-pitrest > a, .pitrest-pst-hding:hover, .fa.fa-heart.like, .log-out > li:last-child a, .log-out > li:last-child a i, .loc-cate > ul.loc > li i, .loc-cate > ul > li a, .loc-cate > ul > li::before, .job-price > ins, .users-thumb-list > span > a, .we-video-info > ul li span:hover, .we-video-info .heart:hover, .job-search-form > a, .user-figure > a, .user-info > li span, .main-color, .pit-points > i, .menu-list > li > a > i, .post-up-time > li a, .number > span.active i, .number > input.active, .pit-uzr > a:hover, .pit-post-deta > h4 > a:hover, .view-pst-style > li.active > a, .pit-opt > li.save, .Rpt-meta > span, .pitred-links > ul > li a:hover, .smilez > li > span, .sidebar .comnity-data > ul > li, .comnty-avatar > a:hover, .usr-fig > a:hover, .post-up-time > li .usr-fig > a:hover, .feature-title > h2 > a:hover, .feature-title > h4 > a:hover, .feature-title > h6 > a:hover, .nave-area > li > a > i, .nave-area > li > a:hover, .save-post.save, .tube-title > h6 > a:hover, .chanle-name > a, .channl-author > em, .pit-tags > span, .tube-pst-meta > h5 a:hover, .addnsend > a i, .follow-me:hover, .follow-me:hover i, .contribute:hover, .contribute:hover i, .links-tab li.nav-item > a.active, .post-meta > h6 > a:hover, .fixed-sidebar .left-menu-full > ul li a.closd-f-menu, .fixed-sidebar .left-menu-full > ul li a:hover, .help-box > span, .post-meta .detail > a:hover, .sugested-photos > h5 a, .our-moto > p > span, .sound-right .send-mesg, .title-block .align-left h5 > i, .audio-user-name > h6 a:hover, .add-send > ul > li a, .add-send .send-mesg, .audio-title:hover, .sound-post-box > h4, .singer-info > span, .playlist-box > ul > li:hover, .song-title > h6 > a:hover, .song-title > a:hover, .playlist-box > h4 i, .prise, .location-area > span > i, .classic-pst-meta > h4 a:hover, .total-area > ul li.order-total > i, .classi-pst-meta > span ins, .classi-pst-meta > h6 a:hover, .classi-pst .user-fig a, .msg-pepl-list .nav-item.unread > a > div h6, .chater-info > h6, .text-box > p a, .description > h2 a:hover, span.ttl{ color: #f5f4f4; } */

.friend-name > ins > a{
    color: #fff;
}
.friend-name span.usrnm, .friend-name ins.usrnm{
    color: #fff;
}
.singlePostView .post-meta .description p, .singlePostView .post-meta .description p a, .your-page .page-meta > a{
    color: #fff;
}
.emoji-picker-container .emoji-wysiwyg-editor{
    color: #fff !important;
} 